<div *ngIf="type == 'accounting'">
  <!-- <div class="chat">
      <div [chart]="chart"> 
      </div> -->
</div>
<div *ngIf="type != 'accounting'">
  <!-- <apx-chart  [labels]="['Web Services', 'Dealerships', 'Commercials', 'Hotel','Restaurants']"
    [colors]="['#1ab7ea', '#0084ff', '#39539E', '#0077B5']" [plotOptions]="plotOptions1" 
  > -->
  <apx-chart #chartObj 
  [colors]="chartOptions.colors"
  [series]="chartOptions.series"
  [legend]="chartOptions.legend"
  [plotOptions]="chartOptions.plotOptions"
  [labels]="chartOptions.labels"
  [chart]="chartOptions.chart">
</apx-chart>
</div>
