<div class="accountingGraph">
    <div class="card-header">
        <h5>ACCOUNTING / <span>ACCOUNTS RECEIVABLE VIEW</span></h5>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-select [(value)]="selected">
                    <mat-option value="option1">Customer name</mat-option>
                    <mat-option value="option2">By division</mat-option>
                    <mat-option value="option3">By customer</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="graphTable-box">
                <ng-scrollbar visibility="hover" #scrollEl thumbClass="custom-scrollbars" orientation="vertical">
                    <table class="table table-striped">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td>Customer Name</td>
                                <td>$350</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$1984</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$240</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$20</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$350</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$1984</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$240</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$20</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$350</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$1984</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$240</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>$20</td>
                                <td>5</td>
                            </tr>
                            <!-- <tr>
                            <td>Customer Name</td>
                            <td>$350</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td>$350</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td>$350</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td>$350</td>
                            <td>5</td>
                        </tr> -->
                        </tbody>
                    </table>
                </ng-scrollbar>
            </div>

        </div>
        <div class="col-md-5">
            <div class="chart-wrap">
                <h4>60 days overdue <b>$120.000</b></h4>
                <h4>between 30-60 days overdue <b>$160.000</b></h4>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="chart-title">6 month AR snapshot</h6>
                    </div>
                </div>
                <div class="">

                </div>
                <apx-chart #chartObj [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                     [legend]="chartOptions.legend" [responsive]="chartOptions.responsive">
                </apx-chart>
                <!-- <apx-chart [series]="series1"  [xaxis]="xaxis1" [responsive]="res" [legend]="legend1">
                </apx-chart> -->
            </div>
        </div>  
    </div>
</div>


<app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo>