.viewdata-title {
  h2 {
    font-family: "Myriad Pro";
    font-weight: 700;
    font-size: 30px;
  }
}
.allCharts{
  display: flex;
  flex-direction: column;
}
.card-box {
  padding: 0 4px 0 4px;
}
.card {
  margin-bottom: 0px;
}
.card-notifications:first-child,.pieChart {
  height: 50%;

}

@media screen and (max-width: 1200px) {
  .card {
    margin-top: 10px;
    margin-right: 10px;
    }
  .allCharts{
    display: flex;
    flex-direction: row;
  }
  .Notification-calendar-section{
    
    padding: 0%;
  }
  .card-notifications:first-child,.pieChart {
    height: 55%;
  
  }
}