<div class="productSetup-Wrap invoiceView">
	<div class="viewdata-title">
		<h2>Purchase Orders</h2>
	</div>
	<div class="contentBox"  [ngClass]="icon1?'active':''">
		<div class="leftContent">
			<div class="card">
				<div class="table-box viewTable mb-20" data-infinite-scroll debounce  (scrolled)="onScrollDown($event)">
					<table style="width:100%" class="table-hover default-to-custom ng-isolate-scope">
                        <tbody [@fadeIn]="usersList?.length"  fxLayout="row wrap" class="list">
                            <tr style="vertical-align:top;" *ngFor="let r of usersList; let i = index" class="x-animated fadeIn d-1 in" fxFlex="100" fxFlex.lt-sm="200">
                                <td width="64px" class="text-center"><h4 class="rownumber ng-binding">{{i+1}}</h4></td>
                                <td class="text-left">
                                    <b><span class="ng-binding ng-hide"></span>&nbsp;</b>
                                    <b><span class="ng-binding ng-hide">&nbsp;</span>&nbsp;</b>
                                    <b><span class="ng-binding ng-hide"></span>&nbsp;</b>
                                    <div class="small help-block line-divider">&nbsp;</div>
                                </td>
                                <td class="text-left">
                                    <a class="ng-binding ng-hide" (click)="editing(r)">{{r?.docNumber}}</a>
                                    <div class="small help-block line-divider ng-binding">{{r?.productQuantity}} </div>
                                </td>
                                <td class="text-left">
                                    <div><span class="ng-binding ng-hide">{{r?.businessPartner?.title}} </span>&nbsp;</div>
                                    <div class="small help-block line-divider ng-binding">&nbsp;</div>
                                </td>
                                <td class="text-end">
                                    <b><span class="ng-binding ng-hide"></span>&nbsp;</b>
                                    <div class="small help-block line-divider paymentstatus ng-binding red">{{r?.status?.title}}</div>
                                </td>
                                <td width="100px" class="text-left">
                                    <div class="rowactions">
                                        <a class="btn btn-link ng-hide" hov-title="View/Edit" (click)="editing(r)" ><i class="fa fa-pencil"></i></a>                                        
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
				</div>
			</div>
		</div>
		<div class="rightSidebar-wrap rightSide-data-penal">
               
                    <div class="data-penal-header">
                        <button class="btn open-action-btn" (click)="changeIc('dots')">
                            <img src="assets/images/icon-ellipsis-light.svg" height="25" width="24" alt="">
                        </button>
                        <button class="btn close close-action-btn" (click)="changeIc('arrow')">
                            <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                            <img src="assets/images/icon-angle.png" height="25" width="25" alt="">
                        </button>
                    </div>
			<div class="data-penal-body">
				<h2 class="title x-animated fadeIn d-3">Details</h2>
                <div class="v-center-wrap">
    				<div class="infoBox x-animated fadeIn d-5">
    					<label>Total Invoice</label>
    					<h3 class="main-color">0</h3>
    				</div>
    				<div class="infoBox x-animated fadeIn d-6">
    					<label>30 DAY OVERDUE</label>
    					<h3 class="main-color">0</h3>
    				</div>
    				<div class="infoBox3 x-animated fadeIn d-7">
    					<label>TOTAL INVOICE AMOUNT</label>
    					<h3 class="main-color">$0.00</h3>
                    </div>
                    <div class="infoBox3 x-animated fadeIn d-8">
                            <label>PENDING PAYMENT</label>
                            <h3 class="main-color">$0.00</h3>
                        </div>
                </div>
			</div>
			<div class="data-penal-footer">
				<button class="btn close-btn" (click)="changeIc('close')">Close</button>
			</div>
		</div>
	</div>	
</div>


<app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo>