<div class="crm-Wrap inventoryreports-Wrap product-view" >
    <div class="">
        <!-- [ngClass]="(icon1 || icon2 || icon3)?'active':''" -->
        <div class="">
            <div class="contentBox task-page " >
                <!-- [ngClass]="(icon1 || icon2 || icon3)?'active':''" -->

                <div class="leftContent overflow-0 task-board">
                    <div class="viewdata-title task-title d-flex flex-wrap align-items-center justify-content-between">
                        <h2>Product View</h2>
                        <div class="d-flex flex-wrap">
                            <a class="icon-task" href="javascript:void(0)" icon-more title="More" ></a>
                            <a class="icon-task" href="javascript:void(0);" (click)="addProductModal(addProduct);$event.preventDefault()" icon-pluse
                                title="Create Task"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-filter title="Filter"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-upload title="Upload"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-download title="Download"></a>
                        </div>
                    </div>
                    <div class="card card-box pl-0 card-attention view-details-table wow fadeIn" data-wow-delay=".3s"
                        #tblDivElem>
                        <div class="table-sticky-header">
                            <table style="width:100%"
                                class="table-hover task-table-main default-to-custom first-padding-0">
                                <thead>
                                    <tr class="x-animated fadeIn d-1 in">
                                        <th width="30"></th>
                                        <th class="table-date">
                                            <b class="table-title">
                                                <span>Product</span>&nbsp;
                                            </b>
                                            <div class="small help-block line-divider before-line type">
                                                <span class="table-text">Category</span>
                                            </div>
                                        </th>
                                        <th class="table-description">
                                            <b class="table-title">
                                                <span>Price</span>&nbsp;
                                            </b>
                                            <div class="small help-block line-divider before-line board">
                                                <span class="table-text">Cost of Goods</span>
                                            </div>
                                        </th>
                                        <th class="table-status">
                                            <b class="table-title">
                                                <span>Qty Available</span>&nbsp;
                                            </b>
                                            <div class="small help-block line-divider before-line progress">
                                                <span class="table-text">Packaging</span>
                                            </div>
                                        </th>
                                        <th class="table-created">
                                            <b class="table-title">
                                                <span>Average Uses - 3/6/9 Months</span>&nbsp;
                                            </b>
                                            <div class="small help-block line-divider before-line assigned">
                                                <span class="table-text">Modifiers</span>
                                            </div>
                                        </th>
                                        <th class="table-action"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div malihu-scrollbar class="scrollbar">
                            <div class="table-box mb-20">
                                <div class="table-respons">
                                    <table style="width:100%"
                                        class="table-hover task-table-main default-to-custom first-padding-0">
                                        <thead class="thead-none">
                                            <tr class="x-animated fadeIn d-1 in">
                                                <th width="30"></th>
                                                <th class="table-date">
                                                    <b class="table-title">
                                                        <span>Due Date</span>&nbsp;
                                                    </b>
                                                    <div class="small help-block line-divider before-line type">
                                                        <span class="table-text">Type</span>
                                                    </div>
                                                </th>
                                                <th class="table-description">
                                                    <b class="table-title">
                                                        <span>Description</span>&nbsp;
                                                    </b>
                                                    <div class="small help-block line-divider before-line board">
                                                        <span class="table-text">Board / Customer - Title</span>
                                                    </div>
                                                </th>
                                                <th class="table-status">
                                                    <b class="table-title">
                                                        <span>Status</span>&nbsp;
                                                    </b>
                                                    <div class="small help-block line-divider before-line progress">
                                                        <span class="table-text">Progress</span>
                                                    </div>
                                                </th>
                                                <th class="table-created">
                                                    <b class="table-title">
                                                        <span>Created Date</span>&nbsp;
                                                    </b>
                                                    <div class="small help-block line-divider before-line assigned">
                                                        <span class="table-text">Assigned To</span>
                                                    </div>
                                                </th>
                                                <th class="table-action"></th>
                                            </tr>
                                        </thead>
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="x-animated fadeIn d-1 in" [ngClass]="{'active':dropdown ? 'active' : '','trActive1':icon1 ? 'trActive1' : ''}" (click)="changeIc2('dots','icon1');$event.preventDefault()">
                                                <td class="text-center">
                                                    <h4 class="rownumber ng-binding">1</h4>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Strawberry Lemonade</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Beverage</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Rp. 68.000</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Rp. 23.000</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>343</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Pack of 1.5kg</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>124 / 171 / 223
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Size Group, Flavor Group, Ice, No Ice,
                                                            Extra Cream, Less Swe...</span>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex">
                                                        <div class="btn-group" (clickOutside)="dropdownClose()">
                                                            <a *ngIf="!dropdown" class="icon-more"
                                                                href="javascript:void(0)" icon-more
                                                                (click)="dropdownClick();$event.stopPropagation()"></a>
                                                            <a *ngIf="dropdown" class="icon-more"
                                                                href="javascript:void(0)" icon-more
                                                                (click)="dropdownClose();$event.stopPropagation()"></a>
                                                            <ul class="dropdown-table dark right dropdown-progress d-flex flex-column align-items-center justify-content-center"
                                                                [ngClass]="dropdown ? 'show' : ''">
                                                                <li [ngClass]="{'show': !progressinfo}">
                                                                    <ul>
                                                                        <!-- <li role="menuitem" class="new-option">
                                                                            <a class="dropdown-item"
                                                                                href="javascript:void(0)">
                                                                                <span
                                                                                    (click)="progressClick();$event.stopPropagation()">Progress</span>
                                                                                /
                                                                                <span
                                                                                    (click)="revertClick();$event.stopPropagation()">Revert</span>
                                                                            </a>
                                                                        </li> -->
                                                                        <li role="menuitem" class="new-option">
                                                                            <a class="dropdown-item" href="/"
                                                                                (click)="$event.stopPropagation();$event.preventDefault()">Edit</a>
                                                                        </li>
                                                                        <li role="menuitem" class="new-option">
                                                                            <a class="dropdown-item"
                                                                                href="javascript:void(0)"
                                                                                (click)="deleteClick();$event.stopPropagation()">Delete</a>
                                                                        </li>
                                                                        <li role="menuitem" class="new-option">
                                                                            <a class="dropdown-item" href="/"
                                                                                (click)="$event.stopPropagation();$event.preventDefault()">Modifier</a>
                                                                        </li>
                                                                        <li role="menuitem" class="new-option">
                                                                            <a class="dropdown-item" href="/"
                                                                                (click)="$event.stopPropagation();$event.preventDefault()">Query</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="modal-body text-center w-100"
                                                                    [ngClass]="{'show': progressinfo}">
                                                                    <p class="modal-name">Progress</p>
                                                                    <div
                                                                        class="d-flex flex-wrap justify-content-between">
                                                                        <button type="button"
                                                                            class="btn btn-default btn-sm"
                                                                            (click)="progressClose();$event.stopPropagation()">Cancel</button>
                                                                        <button type="button"
                                                                            class="btn btn-primary btn-sm"
                                                                            (click)="progressClose();$event.stopPropagation()">Yes</button>
                                                                    </div>
                                                                </li>
                                                                <li class="modal-body text-center w-100"
                                                                    [ngClass]="{'show': revertinfo}">
                                                                    <p class="modal-name">Revert</p>
                                                                    <div
                                                                        class="d-flex flex-wrap justify-content-between">
                                                                        <button type="button"
                                                                            class="btn btn-default btn-sm"
                                                                            (click)="revertClose();$event.stopPropagation()">Cancel</button>
                                                                        <button type="button"
                                                                            class="btn btn-primary btn-sm"
                                                                            (click)="revertClose();$event.stopPropagation()">Yes</button>
                                                                    </div>
                                                                </li>
                                                                <li class="modal-body text-center w-100"
                                                                    [ngClass]="{'show': deleteinfo}">
                                                                    <p class="modal-name">Delete?</p>
                                                                    <div
                                                                        class="d-flex flex-wrap justify-content-between">
                                                                        <button type="button"
                                                                            class="btn btn-default btn-sm"
                                                                            (click)="deleteClose();$event.stopPropagation()">No</button>
                                                                        <button type="button"
                                                                            class="btn btn-primary btn-sm"
                                                                            (click)="deleteClose();$event.stopPropagation()">Yes</button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="x-animated fadeIn d-1 in" (click)="changeIc2('dots','icon2');$event.preventDefault()" [ngClass]="icon2 ? 'trActive2' :''">
                                                <td class="text-center">
                                                    <h4 class="rownumber ng-binding">2</h4>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Blueberry Cream</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Beverage</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Rp. 72.300</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Rp. 24.200</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>225</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Pack of 1.5kg</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>-
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">-</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex">
                                                        <div class="btn-group">
                                                            <a class="icon-more ng-tns-c4-1 ng-star-inserted"
                                                                href="javascript:void(0)" icon-more></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="x-animated fadeIn d-1 in" (click)="changeIc2('dots','icon3');$event.preventDefault()" [ngClass]="icon3 ? 'trActive3' :''">
                                                <td class="text-center">
                                                    <h4 class="rownumber ng-binding">3</h4>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Chocolate Volumpto</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Powder</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>Rp. 89.450</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Rp. 35.340</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <b class="table-title">
                                                        <span>183</span>
                                                    </b>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">1kg Aluminum Bag</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>-
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="small help-block line-divider">
                                                        <span class="table-text">Size Group, Flavor Group, Ice, No Ice,
                                                            Extra Cream, Less Swe...</span>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex">
                                                        <div class="btn-group">
                                                            <a class="icon-more ng-tns-c4-1 ng-star-inserted"
                                                                href="javascript:void(0)" icon-more></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <!-- <tr *ngIf="i.subTaskList?.length"
                                                class="inner-table-tr accordion-table-content x-animated fadeIn d-1 in"
                                                fxFlex="100">
                                                <td colspan="6" class="inner-table">
                                                    <table class="table-expent">
                                                        <thead>
                                                            <tr class="customanimate order-animate2">
                                                                <th class="table-subtasks">Subtasks</th>
                                                                <th class="table-assigned">Assigned to</th>
                                                                <th class="table-status">Status</th>
                                                                <th class="table-due">Due Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody [@fadeIn]="i.subTaskList?.length">
                                                            <tr *ngFor="let k of i.subTaskList; index as p"
                                                                class="customanimate order-animate2"
                                                                [ngClass]="[(subShowId == k.id) ? 'active'  : '', (delSubShowId == k.id) ? 'active' : '']">
                                                                <td>{{k.title}}</td>
                                                                <td>{{k.assignedToUser?.title}}</td>
                                                                <td *ngIf="k.status == 1">
                                                                    <div class="d-flex flex-column align-items-center ">
                                                                        <span
                                                                            class="status-label status-add">Added</span>
                                                                        <div
                                                                            class="d-flex flex-wrap status-progressbar">
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span"></span>
                                                                            <span class="progress-span"></span>
                                                                            <span class="progress-span"></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td *ngIf="k.status == 2">
                                                                    <div class="d-flex flex-column align-items-center ">
                                                                        <span class="status-label status-progress">In
                                                                            Progress</span>
                                                                        <div
                                                                            class="d-flex flex-wrap status-progressbar">
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span"></span>
                                                                            <span class="progress-span"></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td *ngIf="k.status == 3">
                                                                    <div class="d-flex flex-column align-items-center ">
                                                                        <span
                                                                            class="status-label status-query">Query</span>
                                                                        <div
                                                                            class="d-flex flex-wrap status-progressbar">
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span"></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td *ngIf="k.status == 4">
                                                                    <div class="d-flex flex-column align-items-center ">
                                                                        <span
                                                                            class="status-label status-completed">Completed</span>
                                                                        <div
                                                                            class="d-flex flex-wrap status-progressbar">
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                            <span class="progress-span active"></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="position-relative table-action">
                                                                        <span class="blanck">
                                                                            {{k.dueDate | date: 'mediumDate'}}
                                                                        </span>
                                                                        <div class="d-flex flex-wrap table-option">
                                                                            <a class="icon-task"
                                                                                href="javascript:void(0)" icon-pencil
                                                                                (click)="createTaskModal(openEditSubTask, i, p);$event.preventDefault()"></a>
                                                                            <div (clickOutside)="subDeleteDropdownClose()"
                                                                                class="btn-group"
                                                                                [ngClass]="(delSubShowId == k.id) ? 'active' : ''">
                                                                                <a *ngIf="delSubShowId != k.id"
                                                                                    class="icon-task"
                                                                                    href="javascript:void(0)"
                                                                                    (click)="subDeleteDropdownClick(k.id);$event.stopPropagation()"
                                                                                    icon-cross></a>
                                                                                <a *ngIf="delSubShowId == k.id"
                                                                                    class="icon-task"
                                                                                    href="javascript:void(0)"
                                                                                    (click)="subDeleteDropdownClose();$event.stopPropagation()"
                                                                                    icon-cross></a>
                                                                                <ul id="dropdown-basic"
                                                                                    class="dropdown-table dark left"
                                                                                    [ngClass]="(delSubShowId == k.id) ? 'show' : ''">
                                                                                    <li
                                                                                        class="modal-body static text-center modal-revert w-100 new-option">
                                                                                        <p
                                                                                            class="modal-name animated-item">
                                                                                            Delete ?
                                                                                        </p>
                                                                                        <div
                                                                                            class="d-flex flex-wrap justify-content-between animated-item">
                                                                                            <button type="button"
                                                                                                class="btn btn-default btn-sm"
                                                                                                (click)="subDeleteDropdownClose(1);$event.stopPropagation()">No</button>
                                                                                            <button type="button"
                                                                                                class="btn btn-primary btn-sm"
                                                                                                (click)="subDeleteDropdownClose(1);$event.stopPropagation()">Yes</button>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div (clickOutside)="subDropdownClose()"
                                                                                class="btn-group"
                                                                                [ngClass]="(subShowId == k.id) ? 'active' : ''">
                                                                                <a *ngIf="subShowId != k.id"
                                                                                    class="icon-task"
                                                                                    href="javascript:void(0)" icon-more
                                                                                    (click)="subDropdownClick(k.id);$event.stopPropagation()"></a>
                                                                                <a *ngIf="subShowId == k.id"
                                                                                    class="icon-task"
                                                                                    href="javascript:void(0)" icon-more
                                                                                    (click)="subDropdownClose();$event.stopPropagation()"></a>
                                                                                <ul id="dropdown-basic"
                                                                                    class="dropdown-table dark left"
                                                                                    [ngClass]="(subShowId == k.id) ? 'show' : ''">
                                                                                    <li
                                                                                        [ngClass]="{'show': !revertinfo}">
                                                                                        <ul>
                                                                                            <li role="menuitem"
                                                                                                class="new-option">
                                                                                                <a class="dropdown-item"
                                                                                                    href="javascript:void(0)"
                                                                                                    (click)="revertClick();$event.stopPropagation()">
                                                                                                    <span
                                                                                                        (click)="progressClick();$event.stopPropagation()">Progress</span>
                                                                                                    /
                                                                                                    <span
                                                                                                        (click)="revertClick();$event.stopPropagation()">Revert</span></a>
                                                                                            </li>
                                                                                            <li role="menuitem"
                                                                                                class="new-option">
                                                                                                <a class="dropdown-item"
                                                                                                    href="javascript:void(0)">Query</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li class="modal-body text-center modal-revert w-100"
                                                                                        [ngClass]="{'show': progressinfo}">
                                                                                        <p class="modal-name">
                                                                                            Progress
                                                                                        </p>
                                                                                        <div
                                                                                            class="d-flex flex-wrap justify-content-between">
                                                                                            <button type="button"
                                                                                                class="btn btn-default btn-sm"
                                                                                                (click)="progressClose();$event.stopPropagation()">Cancel</button>
                                                                                            <button type="button"
                                                                                                class="btn btn-primary btn-sm"
                                                                                                (click)="progressClose();$event.stopPropagation()">Yes</button>
                                                                                        </div>
                                                                                    </li>

                                                                                    <li class="modal-body text-center modal-revert w-100"
                                                                                        [ngClass]="{'show': revertinfo}">
                                                                                        <p class="modal-name">
                                                                                            Revert
                                                                                        </p>
                                                                                        <div
                                                                                            class="d-flex flex-wrap justify-content-between">
                                                                                            <button type="button"
                                                                                                class="btn btn-default btn-sm"
                                                                                                (click)="revertClose();$event.stopPropagation()">Cancel</button>
                                                                                            <button type="button"
                                                                                                class="btn btn-primary btn-sm"
                                                                                                (click)="revertClose();$event.stopPropagation()">Yes</button>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div
                                                        class="d-flex flex-wrap add-task-group customanimate order-animate2">
                                                        <a class="d-flex flex-wrap add-task align-items-center"
                                                            href="javascript:void(0)"
                                                            (click)="createTaskModal(openSubTask);$event.preventDefault()">Add
                                                            a
                                                            new task <i class="icon-task" href="javascript:void(0)"
                                                                icon-pluse></i></a>
                                                    </div>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end align-items-center btn-task-main wow fadeIn"
                        data-wow-delay="500ms" #addNewTskBtn>
                        <h5 class="p-title">Inventory Cost <span>Rp. 23.353.256,45</span></h5>
                        <h5 class="p-title">Inventory Value <span>Rp. 23.353..252.256,45</span></h5>
                        <button type="button" class="btn btn-main btn-green" (click)="addProductModal(addProduct);$event.preventDefault()">Add New Product</button>
                    </div>
                </div>


                <div class="rightSidebar-wrap rightSide-data-penal">
                    <div class="data-penal-header">
                        <a href="/" class="icon-dot" (click)="changeIc('dots');$event.preventDefault()">
                            <i icon-more></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3  wow fadeIn">
            <div class="contentBox task-page">
                <div class="w-100">
                </div>
            </div>
        </div>
    </div>

    <div class="rightSidebar-wrap rightSidebar-wrap-right-0 rightSide-data-penal comman-sidebar right-aside">
        <div class="data-penal-body d-flex flex-column">
            <div class="">
                <a href="jasvscript:void(0);" class="icon-dot" (click)="changeIc('arrow');$event.preventDefault()">
                    <i icon-more></i>
                </a>
            </div>
            <h3 class="rightSidebar-main_title mb-40">Product Detail</h3>
            <div class="data-block">
                <h5 class="data-title">Description</h5>
                <p class="data-discription">Freshly squeezed lemonade that will quench your thirst, while giving you
                    your daily vitamin C needs</p>
            </div>
            <div class="data-block mt-auto">
                <h5 class="data-title">Top 5 Customers</h5>
                <p class="data-discription">Belle Foods</p>
                <p class="data-discription">Sacramento Sox</p>
                <p class="data-discription">Baker’s Grill</p>
                <p class="data-discription">Digg Spot</p>
                <p class="data-discription">Spike’s Meal</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Last Invoiced Date</h5>
                <p class="data-discription">15, November 2020</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Vendor</h5>
                <p class="data-discription">Ambient Warehouse</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Lead Time</h5>
                <p class="data-discription">37 Days</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Usage Statistics</h5>
                <p class="data-discription">132 - 60 Days</p>
                <p class="data-discription">222 - 90 Days</p>
                <p class="data-discription">362 - 120 Days</p>
            </div>
        </div>
        <div class="data-penal-footer min-h77">
            <!-- <div class="row">
                <div class="col-12">
                    <button class="btn close-btn" type="submit" (click)="changeIc('arrow')">
                        <i class="fa fa-remove mr-1" aria-hidden="true"></i> Cancel</button>
                    <button *ngIf="!user.id" [disabled]="!user.title || !user.type" class="btn close-btn" type="submit"
                        (click)="createdisTask(user)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> save</button>
                    <button *ngIf="user.id" class="btn close-btn" type="submit" (click)="updatediTask(user)">
                        <i class="fa fa-floppy-o mr-1" aria-hidden="true"></i> save</button>
                </div>
                <div class="col-6">

                </div>
            </div> -->
        </div>
    </div>
</div>

<ng-template #addProduct>
    <div class="modal-body p-0" app-add-product (closeClick)="modalRef.hide()">
    </div>
</ng-template>

<app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo>