<div class="adjustments-Wrap">
	<div class="viewdata-title">
		<h2><img class="ng-tns-c7-2" alt="" height="25" src="assets/images/icon-list.svg" width="25"> Adjustments</h2>
		<div class="pull-right right-top-btns">
			<!-- <a class="btn-link"><img class="ng-tns-c7-2" alt="" height="20" src="assets/images/icon-plus.svg" width="20"></a> -->
		</div>
	</div>
	<div class="contentBox">
		<div class="leftContent">
			<div class="card">
				<p class="text-center">No more adjustments pending for approval</p>
			</div>
		</div>
	</div>
</div>

<!-- <app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo> -->