<div class="warehouseGraph">
    <div class="card-header">
          <h5>WAREHOUSE LOGISTICS / <span>COSTUMER ORDERS</span></h5>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="graphTable-box">
          <table class="table table-striped">
              <thead>
                
              </thead>
              <tbody>
                <tr>
                  <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
  
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>Draft</td>
                </tr>
              </tbody>
          </table>
        </div>
  
      </div>
      <div class="col-md-6">
          <div class="minitable-detailview">
              <div class="costumer-info">
                  <div class="costumer-name">
                      <h5>Costumer</h5>
                      <h4>McDonalds</h4>
                  </div>
                  <div class="costumer-avatar">
                      MD
                  </div>
              </div>
              <div class="invoice-desc">
                  <div class="invoice-no">
                      <h5>Invoice #</h5>
                      <h4>9827382364</h4>
                  </div>
                  <div class="invoice-date">
                      <h5>Date</h5>
                      <h4>25.05.2017</h4>
                  </div>
              </div>
              <ul class="detailview-list">
                  <li>
                      <span>Product Name</span>
                      <span>12</span>
                  </li>
                  <li>
                      <span>Product Name</span>
                      <span>26</span>
                  </li>
                  <li>
                      <span>Product Name</span>
                      <span>4</span>
                  </li>
                  <li>
                      <span>Product Name</span>
                      <span>57</span>
                  </li>
                  <li>
                      <span>Product Name</span>
                      <span>9</span>
                  </li>
              </ul>
              <div class="invoice-totals">
                  <div class="total-row total-order">
                      <span>TOTAL ORDERS:</span>
                      <label>0,000</label>
                  </div>
                  <div class="total-row total-quantity">
                      <span>TOTAL PRODUCT QUANTITY:</span>
                      <label>0,000</label>
                  </div>
              </div>
          </div>
      </div>  
    </div>
   
  
  </div>
  
