<div class="task-popup">
    <div class="task-card">
        <div class="task-header d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <h4 class="task-follow mb-0">Follow Up</h4>
                <h5 class="task-starbucks mb-0">starbucks</h5>
            </div>
            <a class="" href="javascript:void(0)" icon-close (click)="someEvent.emit('decline')"></a>
        </div>
        <div class="task-body">
            <div class="task-time-details d-flex flex-wrap justify-content-between">
                <time class="task-time-date">June 18, 2018</time>
                <time  class="task-time-time">12:25</time>
            </div>
            <p class="task-text">These cases are perfectly simple and strange. </p>
            <div class="task-process-details d-flex flex-wrap align-items-center justify-content-end progress">
                <h5 class="task-list-process">In progress</h5>
                <time class="task-list-date d-flex flex-wrap align-items-center">
                    July 08
                    <label class="check-label d-flex flex-wrap align-items-center">
                        <input type="checkbox" name="" id="">
                        <span class="check-box" icon-checked></span>
                    </label>
                </time>
            </div>
            <div class="task-editoption d-flex flex-column align-items-end">
                <h3>Progress task</h3>
                <a href="javascript:void(0)">Edit</a>
                <a href="javascript:void(0)">delete</a>
            </div>
            <div class="task-relevant">
                <h4 class="task-relevant-title">relevant info</h4>
                <ul class="task-relevant-list">
                    <li class="purple">
                        <span class="task-relevant-task">Task</span>
                        <time class="task-relevant-time">Jun 18, 2018</time>
                        <p class="task-relevant-text">These cases are perfectly simple and str These cases are perfectly simple and str</p>
                    </li>
                    <li class="yellow">
                        <span class="task-relevant-task">Task</span>
                        <time class="task-relevant-time">Jun 18, 2018</time>
                        <p class="task-relevant-text">These cases are perfectly simple and str These cases are perfectly simple and str</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>