<div class="crm-Wrap inventoryreports-Wrap product-view vendor-wrap" [ngClass]="(icon1 || icon2 || icon3)?'active':''">
    <!--  -->
    <div class="">
        <div class="">
            <div class="contentBox task-page" [ngClass]="(icon1 || icon2 || icon3)?'active':''">
                <!--  -->

                <div class="leftContent overflow-0 task-board">
                    <div class="d-flex flex-wrap align-items-center justify-content-between task-title viewdata-title">
                        <h2>Vendor Order</h2>
                        <div class="d-flex flex-wrap">
                            <a class="icon-task" href="javascript:void(0)" icon-more title="More"></a>
                            <a class="icon-task" href="javascript:void(0);" icon-pluse title="Create Task"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-filter title="Filter"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-upload title="Upload"></a>
                            <a class="icon-task" href="javascript:void(0)" icon-download title="Download"></a>
                        </div>
                    </div>
                    <div class="card card-attention card-box fadeIn pl-0 view-details-table wow" data-wow-delay=".3s"
                        #tblDivElem>
                        <div class="detail">
                            <div class="left">
                                <h3 class="main-title">CO-PO-21-02636<span>Purchase Order</span></h3>
                                <ul>
                                    <li>
                                        <span class="name">Order Date:</span> <span class="desc">23/20.2030</span>
                                    </li>
                                    <li>
                                        <span class="name">Contact Person:</span> <span class="desc">Wayne Smith</span>
                                    </li>
                                    <li>
                                        <span class="name">Email:</span> <span class="desc">yourcompany&#64;
                                            co.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="right">
                                <a class="navbar-brand"><img src="assets/images/blink-logo.svg"></a>
                                <h3 class="main-title">Your Company</h3>
                                <ul>
                                    <li>
                                        <p>Address Line 1</p>
                                    </li>
                                    <li>
                                        <p>Address Line 1</p>
                                    </li>
                                    <li>
                                        <span class="link"><a href="">Telephone 1</a></span>
                                        <span class="link"><a href="">Telephone 2</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div malihu-scrollbar class="table-box-scroll-hs overflow-y-scroll scrollbar">
                            <div class="table-box mb-20">
                                <div class="table-respons">
                                    <table style="width:100%"
                                        class="table-hover default-to-custom first-padding-0 task-table-main">
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="d-1 fadeIn in x-animated">
                                                <td class="text-center" width="58px">
                                                    <h4 class="rownumber ng-binding">1</h4>
                                                </td>
                                                <td class="text-left text-name">
                                                    <b class="table-title">
                                                        <span>PC CPU Fan Cooler</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">Thermaltake</span>
                                                    </div>
                                                </td>
                                                <td class="text-desc text-left">
                                                    <b class="table-title">
                                                        <span>The one that would fit a 55mm processor size</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">450gr Box</span>
                                                    </div>
                                                </td>
                                                <td class="text-input text-left">
                                                    <b class="table-title">
                                                        <span><input type="text" placeholder="26"></span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">$22.61</span>
                                                    </div>
                                                </td>
                                                <td class="text-left text-price">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>$588.00
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">-</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="d-1 fadeIn in x-animated">
                                                <td class="text-center" width="58px">
                                                    <h4 class="rownumber ng-binding">2</h4>
                                                </td>
                                                <td class="text-left text-name">
                                                    <b class="table-title">
                                                        <span>CUBE Gaming PC Casing</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">CUBE Gaming</span>
                                                    </div>
                                                </td>
                                                <td class="text-desc text-left">
                                                    <b class="table-title">
                                                        <span>RGB lights should be included</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">1.8kg Box</span>
                                                    </div>
                                                </td>
                                                <td class="text-input text-left">
                                                    <b class="table-title">
                                                        <span><input type="text" placeholder="12"
                                                                [(ngModel)]="input"></span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">$60</span>
                                                    </div>
                                                </td>
                                                <td class="text-left text-price">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>$720.00
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">-</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody fxLayout="row wrap" class="list">
                                            <tr class="d-1 fadeIn in x-animated">
                                                <td class="text-center" width="58px">
                                                    <h4 class="rownumber ng-binding">3</h4>
                                                </td>
                                                <td class="text-left text-name">
                                                    <b class="table-title">
                                                        <span>iPhone 16</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">Apple</span>
                                                    </div>
                                                </td>
                                                <td class="text-desc text-left">
                                                    <b class="table-title">
                                                        <span>-</span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">1kg Box</span>
                                                    </div>
                                                </td>
                                                <td class="text-input text-left">
                                                    <b class="table-title">
                                                        <span><input type="text" placeholder="5"></span>
                                                    </b>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">$2,480</span>
                                                    </div>
                                                </td>
                                                <td class="text-left text-price">
                                                    <div>
                                                        <b class="table-title">
                                                            <span>$12,400.00
                                                            </span>
                                                        </b>
                                                    </div>
                                                    <div class="help-block line-divider small">
                                                        <span class="table-text">-</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="price-detail">
                            <ul>
                                <li>
                                    <span class="sub-title">Subtotal</span>
                                    <span class="price">$13,708</span>
                                </li>
                                <li>
                                    <span class="sub-title">Tax</span>
                                    <span class="price">$1,370.80</span>
                                </li>
                                <li>
                                    <span class="sub-title">Total</span>
                                    <span class="price total">$15,078.80</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap btn-task-main align-items-center justify-content-end fadeIn wow"
                        data-wow-delay="500ms">
                        <ul class="d-flex align-items-center vendor-btn">
                            <li>
                                <a class="btn btn-print">Print PO</a>
                            </li>
                            <li *ngIf="input != ''">
                                <a class="btn btn-submit">Submit Changes</a>
                            </li>
                            <li *ngIf="input != ''">
                                <a class="btn btn-cancel">Cancel Changes</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="rightSide-data-penal rightSidebar-wrap">
                    <div class="data-penal-header">
                        <a href="/" class="icon-dot" (click)="changeIc('dots');$event.preventDefault()">
                            <i icon-more></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3 fadeIn wow">
            <div class="contentBox task-page">
                <div class="w-100">
                </div>
            </div>
        </div>
    </div>

    <div class="comman-sidebar right-aside rightSide-data-penal rightSidebar-wrap rightSidebar-wrap-right-0">
        <div class="d-flex flex-column data-penal-body">
            <div class="">
                <a href="jasvscript:void(0);" class="icon-dot" (click)="changeIc('arrow');$event.preventDefault()">
                    <i icon-more></i>
                </a>
            </div>
            <h3 class="mb-40 rightSidebar-main_title">Product Detail</h3>
            <div class="data-block">
                <h5 class="data-title">Description</h5>
                <p class="data-discription">Text entry desc text that details the content of the task that will be shonw
                    in full length here in the infobar</p>
            </div>
            <div class="data-block mt-auto">
                <h5 class="data-title">Tasked Users</h5>
                <p class="data-discription data-size">Creating New Compositions</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Task Group</h5>
                <p class="data-discription">Billy Bob, Job, Black Adam, Farmer Joe, Jill Jackson</p>
            </div>
            <div class="data-block">
                <h5 class="data-title">Associated Task</h5>
                <p class="data-discription data-size">MX-CRM-TSK-1045</p>
                <p class="data-discription data-size">This is the name of the task, limited length...</p>
                <p class="data-discription data-size">Julia Roberts</p>
            </div>
        </div>
        <div class="data-penal-footer min-h77">
        </div>
    </div>
</div>