<div class="crm-Wrap inventoryreports-Wrap manage-composition product-modifier" [ngClass]="icon1 ? 'active' :''">
  <div class="">
    <div class="">
      <div class="contentBox task-page" [ngClass]="icon1?'active':''">

        <div class="leftContent overflow-0 task-board">
          <div class="d-flex flex-wrap align-items-center justify-content-between task-title viewdata-title">
            <h2>Product Modifiers</h2>
            <div class="d-flex flex-wrap">
              <a class="icon-task" href="javascript:void(0)" icon-more title="More"></a>
              <a class="icon-task" href="javascript:void(0);"
                (click)="addProductModal(addProduct);$event.preventDefault()" icon-pluse title="Create Task"></a>
              <a class="icon-task" href="javascript:void(0)" icon-filter title="Filter"></a>
              <a class="icon-task" href="javascript:void(0)" icon-upload title="Upload"></a>
              <a class="icon-task" href="javascript:void(0)" icon-download title="Download"></a>
            </div>
          </div>
          <div class="card card-attention card-box fadeIn view-details-table wow" data-wow-delay=".3s" #tblDivElem>
            <div class="manage-detail">
              <div class="left-part">
                <div class="add-product">
                  <div class="all-product">
                    <h2 class="main-title">Caramel Candy <span class="price">Rp. 23.000</span></h2>
                  </div>
                  <div class="sub-product">
                    <h2 class="title">Modifier(s)</h2>
                    <!-- <alphabet-filter 
                        (clickOutside)="this.prodcutdrop = false"
                        propAlphaOrder="name"
                        propsSearch="name"
                        placeholder=""
                        height="100%"
                        [data]="items"
                        (onClick)="selectedItem($event)"
                        [withTemplate]="true"
                        (keyup)="change()"> -->
                    <!-- <ng-template let-item>
                          <div class="search-list-item">
                            <span [ngClass]="item.name == selectedValue ? 'active' : ''">{{item.name}}</span>
                          </div>
                        </ng-template>
                      </alphabet-filter> -->

                      <div class="alphaMain">
                        <div class="alpha-container">
                          <!-- Items List -->
                          <div class="list-container" #itemList>
                            <ul>
                              <li *ngFor="let item of  items" [id]="item.name">
                                <div class="search-list-item mb-2">
                                  <span (click)="selectedItem(item)">{{ item.name }}</span>
                                </div>
                              </li>
                            </ul>
                          </div>
                          
                          <!-- Alphabet List -->
                        </div>
                      </div>





                    <ul class="d-3 fadeIn in prodcut-dropdown x-animated" *ngIf="prodcutdrop">
                      <li class="d-6 fadeIn in x-animated"><span>Size</span></li>
                      <li class="d-9 fadeIn in x-animated"><a
                          (click)="prodcutdrop=false;this.selectedSecond = true">Regular</a></li>
                      <li class="d-12 fadeIn in x-animated"><a
                          (click)="prodcutdrop=false;this.selectedSecond = true">Large</a></li>
                      <li class="d-15 fadeIn in x-animated"><a
                          (click)="prodcutdrop=false;this.selectedSecond = true">Medium</a></li>
                      <li class="d-18 fadeIn in x-animated"><a
                          (click)="prodcutdrop=false;this.selectedSecond = true">Extra Large</a></li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="right-part">
                <div class="variable" outsideClick (clickOutside)="this.variableShow = false">
                  <div class="variable-detail" *ngIf="selectedSecond">
                    <h2 class="order-animate1 customanimate title">MOdifier Effect</h2>
                    <div class="triggers-detail">
                      <div class="order-animate4 customanimate triggers-tab">
                        <div class="triggers-list">
                          <ul class="nav nav-tabs">
                            <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'price'" (click)="activeTab = 'price'">Price</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'size'" (click)="activeTab = 'size'">Size</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'recipe'" (click)="activeTab = 'recipe'">Different recipe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="activeTab === 'alter'" (click)="activeTab = 'alter'">Alter Recipe</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'price'}"  *ngIf="activeTab === 'price'">
                            <div class="form-group">
                              <ng-select  class="w-100" [items]="tasks"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}"> -->
                                 <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="form-group">
                               <ng-select  class="w-100" [items]="effect"
                                  placeholder="Effect" bindLabel="name"
                                  (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="form-group" *ngIf="openDiv == 'Replace'">
                             <ng-select  class="w-100" [items]="material"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="from-group add-list">
                              <h2 class="sub-title">Amount</h2>
                                <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                <ul class="list-btn">
                                  <li class="percent">
                                    <a class="common-btn">%</a>
                                  </li>
                                    <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                </ul>
                            </div>
                            <div class="add-btn btn-green">
                                <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                            </div>
                          </div>
                          <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'size'}"  *ngIf="activeTab === 'size'">
                            <div class="form-group">
                            <ng-select  class="w-100" [items]="tasks"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="form-group">
                             <ng-select  class="w-100" [items]="effect"
                                  placeholder="Effect" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select>
                            </div>
                              <div class="add-btn btn-green">
                                <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                              </div>
                          </div>
                          <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'recipe'}"  *ngIf="activeTab === 'recipe'">
                            <div class="form-group">
                             <ng-select  class="w-100" [items]="tasks"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="form-group">
                               <ng-select  class="w-100" [items]="effect"
                                  placeholder="Effect" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                              <div class="add-btn btn-green">
                                <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                              </div>
                          </div>
                          <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'alter'}"  *ngIf="activeTab === 'alter'">
                            <div class="form-group">
                              <ng-select  class="w-100" [items]="tasks"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select>
                            </div>
                            <div class="form-group">
                               <ng-select  class="w-100" [items]="effect"
                                  placeholder="Effect" bindLabel="name"
                                  (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="form-group" *ngIf="openDiv == 'Replace'">
                              <ng-select  class="w-100" [items]="material"
                                  placeholder="Raw Material" bindLabel="name"
                                  (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                  [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right" (click)="clear(item);"
                                          aria-hidden="true">×</span>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                      {{item.name}}
                                  </ng-template>
                              </ng-select> 
                            </div>
                            <div class="from-group add-list">
                              <h2 class="sub-title">Amount</h2>
                                <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                <ul class="list-btn">
                                  <li class="percent">
                                    <a class="common-btn">%</a>
                                  </li>
                                    <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                </ul>
                            </div>
                            <div class="add-btn btn-green">
                                <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                            </div>
                          </div>
                      </div>
                        </div>
                        <!-- <tabset class="triggers-list">
                              <tab heading="Price" id="tab1">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group" *ngIf="openDiv == 'Replace'">
                                  <ng-select  class="w-100" [items]="material"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="add-list from-group">
                                  <h2 class="sub-title">Amount</h2>
                                    <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                    <ul class="list-btn">
                                      <li class="percent">
                                        <a class="common-btn">%</a>
                                      </li>
                                        <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                    </ul>
                                  </div>
                                  <div class="btn-green add-btn">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                 </div>
                              </tab>
                              <tab heading="Size">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="btn-green add-btn">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                              </tab>
                              <tab heading="Different recipe">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="material"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="btn-green add-btn">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                              </tab>
                              <tab heading="Alter Recipe">
                                  <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="btn-green add-btn">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>

                              </tab>
                          </tabset> -->
                      </div>
                      <div class="order-animate7 assign-detail customanimate" *ngIf="selectedthird">
                        <h2 class="title">set modifier effect</h2>
                        <div class="table-respons">
                          <table>
                            <tbody>
                              <tr>
                                <td class="number">1.</td>
                                <td class="desc">Blueberry Cream</td>
                                <td class="upadte">(Removed)</td>
                                <td class="close"><span class="ico"><svg width="16" height="16" viewBox="0 0 16 16"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1 1L15 15M15 1L1 15" stroke="#D2DDEC" stroke-width="2" />
                                    </svg></span></td>
                              </tr>
                              <tr class="active">
                                <td class="number">2.</td>
                                <td class="desc">Strawberry Lemonade</td>
                                <td class="upadte">(Add 10.5%)</td>
                                <td class="close"><span class="ico"><svg width="16" height="16" viewBox="0 0 16 16"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1 1L15 15M15 1L1 15" stroke="#D2DDEC" stroke-width="2" />
                                    </svg></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="d-flex flex-wrap btn-task-main align-items-center justify-content-end fadeIn wow"
            data-wow-delay="500ms" #addNewTskBtn>
            <ul class="d-flex flex-wrap manage-btn">
              <li><button class="btn btn-cancle">Cancel</button></li>
              <li><button class="btn btn-save">Save Changes</button></li>
            </ul>
          </div>
        </div>


        <!-- <div class="rightSide-data-penal rightSidebar-wrap">
          <div class="data-penal-header">
            <a href="/" class="icon-dot" (click)="changeIc('dots');$event.preventDefault()">
              <i icon-more></i>
            </a>
          </div>
        </div> -->

      </div>
    </div>
    <div class="col-xl-3 fadeIn wow">
      <div class="contentBox task-page">
        <div class="w-100">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="comman-sidebar composition-right right-aside rightSide-data-penal rightSidebar-wrap rightSidebar-wrap-right-0">
    <div class="d-flex flex-column data-penal-body">
      <div class="">
        <a href="jasvscript:void(0);" class="icon-dot" (click)="changeIc('arrow');$event.preventDefault()">
          <i icon-more></i>
        </a>
      </div>
      <h3 class="mb-40 rightSidebar-main_title">Product Modifiers</h3>
    </div>
    <div class="data-penal-footer min-h77">
    </div>
  </div> -->
</div>

<ng-template #addProduct>
  <div class="modal-body p-0" app-add-product (closeClick)="modalRef.hide()">
  </div>
</ng-template>

<app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo>