<div class="crm-Wrap inventoryreports-Wrap  manage-composition product-modifier"  [ngClass]="icon1 ? 'active' :''">
  <div class="">
    <div class="">
      <div class="contentBox task-page " [ngClass]="icon1?'active':''">

        <div class="leftContent overflow-0 task-board">
          <div class="viewdata-title task-title d-flex flex-wrap align-items-center justify-content-between">
            <h2>Product Modifiers</h2>
            <div class="d-flex flex-wrap">
              <a class="icon-task" href="javascript:void(0)" icon-more title="More"></a>
              <a class="icon-task" href="javascript:void(0);"
                (click)="addProductModal(addProduct);$event.preventDefault()" icon-pluse title="Create Task"></a>
              <a class="icon-task" href="javascript:void(0)" icon-filter title="Filter"></a>
              <a class="icon-task" href="javascript:void(0)" icon-upload title="Upload"></a>
              <a class="icon-task" href="javascript:void(0)" icon-download title="Download"></a>
            </div>
          </div>
          <div class="card card-box card-attention view-details-table wow fadeIn" data-wow-delay=".3s" #tblDivElem>
            <div class="manage-detail">
              <div class="left-part">
                <div class="add-product">
                  <div class=" all-product">
                    <h2 class="main-title">Caramel Candy <span class="price">Rp. 23.000</span></h2>
                  </div>
                  <div class="sub-product" >
                    <h2 class="title">Modifier(s)</h2>
                    <!-- <alphabet-filter 
                        (clickOutside)="this.prodcutdrop = false"
                        propAlphaOrder="name"
                        propsSearch="name"
                        placeholder=""
                        height="100%"
                        [data]="items"
                        (onClick)="selectedItem($event)"
                        [withTemplate]="true"
                        (keyup)="change()"> -->
                        <!-- <ng-template let-item>
                          <div class="search-list-item">
                            <span [ngClass]="item.name == selectedValue ? 'active' : ''">{{item.name}}</span>
                          </div>
                        </ng-template>
                      </alphabet-filter> -->
                      <ul class="prodcut-dropdown x-animated fadeIn d-3 in" *ngIf="prodcutdrop" >
                        <li class="x-animated fadeIn d-6 in"><span>Size</span></li>
                        <li class="x-animated fadeIn d-9 in"><a (click)="prodcutdrop=false;this.selectedSecond = true">Regular</a></li>
                        <li class="x-animated fadeIn d-12 in"><a (click)="prodcutdrop=false;this.selectedSecond = true">Large</a></li>
                        <li class="x-animated fadeIn d-15 in"><a (click)="prodcutdrop=false;this.selectedSecond = true">Medium</a></li>
                        <li class="x-animated fadeIn d-18 in"><a (click)="prodcutdrop=false;this.selectedSecond = true">Extra Large</a></li>
                      </ul>

                  </div>
                </div>
              </div>
              <div class="right-part">
                <div class="variable" outsideClick (clickOutside)="this.variableShow = false">
                  <div class="variable-detail" *ngIf="selectedSecond">
                    <h2 class="title customanimate order-animate1">MOdifier Effect</h2>
                      <div class="triggers-detail">
                        <div class="triggers-tab customanimate order-animate4">
                          <div class="triggers-list">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#price">Price</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#size">Size</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#recipe">Different recipe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#alter">Alter Recipe</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="price">
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="tasks"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}"> -->
                                        <!-- <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="effect"
                                        placeholder="Effect" bindLabel="name"
                                        (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group" *ngIf="openDiv == 'Replace'">
                                    <!-- <ng-select  class="w-100" [items]="material"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="from-group add-list">
                                    <h2 class="sub-title">Amount</h2>
                                      <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                      <ul class="list-btn">
                                        <li class="percent">
                                          <a class="common-btn">%</a>
                                        </li>
                                          <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                      </ul>
                                  </div>
                                  <div class="add-btn btn-green">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="size">
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="tasks"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="effect"
                                        placeholder="Effect" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                    <div class="add-btn btn-green">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="recipe">
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="tasks"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="effect"
                                        placeholder="Effect" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                    <div class="add-btn btn-green">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="alter">
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="tasks"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group">
                                    <!-- <ng-select  class="w-100" [items]="effect"
                                        placeholder="Effect" bindLabel="name"
                                        (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="form-group" *ngIf="openDiv == 'Replace'">
                                    <!-- <ng-select  class="w-100" [items]="material"
                                        placeholder="Raw Material" bindLabel="name"
                                        (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                        [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label">{{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item);"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select> -->
                                  </div>
                                  <div class="from-group add-list">
                                    <h2 class="sub-title">Amount</h2>
                                      <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                      <ul class="list-btn">
                                        <li class="percent">
                                          <a class="common-btn">%</a>
                                        </li>
                                          <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                      </ul>
                                  </div>
                                  <div class="add-btn btn-green">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                          <!-- <tabset class="triggers-list">
                              <tab heading="Price" id="tab1">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageToValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group" *ngIf="openDiv == 'Replace'">
                                  <ng-select  class="w-100" [items]="material"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open3" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="from-group add-list">
                                  <h2 class="sub-title">Amount</h2>
                                    <input autocomplete="off" class="from-control" formcontrolname="focus" placeholder="" value="" >
                                    <ul class="list-btn">
                                      <li class="percent">
                                        <a class="common-btn">%</a>
                                      </li>
                                        <li class="percent"><a class="common-btn"><span>gr</span></a></li>
                                    </ul>
                                  </div>
                                  <div class="add-btn btn-green">
                                      <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                 </div>
                              </tab>
                              <tab heading="Size">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="add-btn btn-green">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                              </tab>
                              <tab heading="Different recipe">
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="material"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="add-btn btn-green">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>
                              </tab>
                              <tab heading="Alter Recipe">
                                  <div class="form-group">
                                  <ng-select  class="w-100" [items]="tasks"
                                      placeholder="Raw Material" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open1" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                <div class="form-group">
                                  <ng-select  class="w-100" [items]="effect"
                                      placeholder="Effect" bindLabel="name"
                                      (change)="chnageTypeValue($event)" bindValue="id" [searchable]="false"
                                      [hideSelected]="true" [(ngModel)]="open2" [ngModelOptions]="{standalone: true}">
                                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                          <span class="ng-value-label">{{item.name}}</span>
                                          <span class="ng-value-icon right" (click)="clear(item);"
                                              aria-hidden="true">×</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                          {{item.name}}
                                      </ng-template>
                                  </ng-select>
                                </div>
                                  <div class="add-btn btn-green">
                                    <a (click)="variableShow=false;this.selectedthird = true">Add Effect</a>
                                  </div>

                              </tab>
                          </tabset> -->
                        </div>
                        <div class="assign-detail customanimate order-animate7" *ngIf="selectedthird">
                            <h2 class="title">set modifier effect</h2>
                            <div class="table-respons">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="number">1.</td>
                                    <td class="desc">Blueberry Cream</td>
                                    <td class="upadte">(Removed)</td>
                                    <td class="close"><span class="ico"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L15 15M15 1L1 15" stroke="#D2DDEC" stroke-width="2"/></svg></span></td>
                                </tr>
                                <tr class="active">
                                    <td class="number">2.</td>
                                    <td class="desc">Strawberry Lemonade</td>
                                    <td class="upadte">(Add 10.5%)</td>
                                    <td class="close"><span class="ico"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L15 15M15 1L1 15" stroke="#D2DDEC" stroke-width="2"/></svg></span></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="d-flex flex-wrap justify-content-end align-items-center btn-task-main wow fadeIn"
            data-wow-delay="500ms" #addNewTskBtn>
            <ul class="d-flex flex-wrap manage-btn">
              <li><button class="btn btn-cancle">Cancel</button></li>
              <li><button class="btn btn-save">Save Changes</button></li>
            </ul>
          </div>
        </div>


        <!-- <div class="rightSidebar-wrap rightSide-data-penal">
          <div class="data-penal-header">
            <a href="/" class="icon-dot" (click)="changeIc('dots');$event.preventDefault()">
              <i icon-more></i>
            </a>
          </div>
        </div> -->

      </div>
    </div>
    <div class="col-xl-3  wow fadeIn">
      <div class="contentBox task-page">
        <div class="w-100">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="rightSidebar-wrap rightSidebar-wrap-right-0 rightSide-data-penal comman-sidebar right-aside composition-right">
    <div class="data-penal-body d-flex flex-column">
      <div class="">
        <a href="jasvscript:void(0);" class="icon-dot" (click)="changeIc('arrow');$event.preventDefault()">
          <i icon-more></i>
        </a>
      </div>
      <h3 class="rightSidebar-main_title mb-40">Product Modifiers</h3>
    </div>
    <div class="data-penal-footer min-h77">
    </div>
  </div> -->
</div>

<ng-template #addProduct>
  <div class="modal-body p-0" app-add-product (closeClick)="modalRef.hide()">
  </div>
</ng-template>

<!-- <!-- <app-modal-demo style="position: relative;z-index: 999999999;"></app-modal-demo> --> -->