<div class="invoiceApprovalGraph">
  <div class="card-header">
              <h5>Invoice / <span>Approvals</span></h5>
          
        </div>
    <div class="row">       
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-2">
                <mat-form-field>
                    <!-- <mat-label>Last month</mat-label> --> 
                <mat-select [(value)]="selected">                                        
                    <mat-option value="option1">Invoice Number</mat-option>
                    <mat-option value="option2">Date</mat-option>

                </mat-select>
                  </mat-form-field>
            </div> 
        </div>
        <div class="graphTable-box">
            <table class="table table-striped">
              <thead>
                
              </thead>
              <tbody>
                <tr>
                  <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
                <tr>
                    <td># 0011788001</td>
                  <td>2.10.2017</td>
                </tr>
              </tbody>
            </table>
        </div>
  
      </div>
      <div class="col-md-8">
         <div class="invoice-notes-wrap chart-wrap">
            <h4>90-2382371</h4>
            <div class="invoice-notes">
                <h5>Notes</h5>
                <ul class="list-expand">
                    <li>
                        <span class="number">2</span>
                        <span>Price Changed</span>
                    </li>
                    <li>
                        <span class="number">12</span>
                        <span>Price Changed</span>
                    </li>
                    <li class="active">
                        <span class="number">18</span>
                        <span>Price Changed</span>
                    </li>
                    <li>
                        <span class="number">26</span>
                        <span>Price Changed</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span>Price Changed</span>
                    </li>
                    <li>
                        <span class="number">7</span>
                        <span>Price Changed</span>
                    </li>
                </ul>
            </div>
            <div class="invoice-notes-desc-wrap">
                <span class="invoice-notes-border"></span>
                <div class="invoice-description" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <div class="invoice-notes-row invoice-notes-from">
                        <div class="notes-left">From:</div>
                        <div class="notes-right">
                            Inani mucius regione te eam, et mea sale essent persecuti, in congue diceret insolens duo. Has ei zril consetetur, ad audire
                            lucilius mea.
                        </div>
                    </div>
                    <div class="invoice-notes-row invoice-notes-to">
                        <div class="notes-left">To:</div>
                        <div class="notes-right">
                            Sea eu atqui maluisset laboramus, ponderum aliquando eu has. Ex meaning equidem labores suscipiantur. Mea molestiae inciderint
                            ad. At quo unum assum repudiare, no repudiare urbanitas vim, stet ubique insy.
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="info-circle">
                            <i class="fa fa-info"></i>
                        </div>
                        <div class="info-content">
                            Nonumy sensibus nam ea. Lobortis incorrupte ex pro, in quo quod dicta placerat, his ad nostro intellegebat. Partem diceret
                            et est, sed te accusam perfecto. No eum illud habemus, magna epicuri accusata
                            pro eis.
                            <br>
                            <br> An maiestatis neglegentur eos. Qui id vero labores, consequuntur ad.
                        </div>
                    </div>
                    <div class="invoice-notes-status">PENDING APPROVEMENT</div>
                <!-- <a href="#" class="mCSB_buttonUp" style="display: block;"></a><div class="mCSB_draggerContainer">
                  <div id="mCSB_24_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 0px; max-height: 225px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div>
                </div>
                <a href="#" class="mCSB_buttonDown" style="display: block;">                  
                </a> -->
              </div>
            </div>
        </div>
      </div>
  
    </div>
   
  
  </div>
  
