<div class="generalAdmin-graph">
  <div class="card-header">
    <h5>GENERAL ADMIN / <span> INVOICE VIEW</span></h5>    
  </div>
    <div class="row">
      
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-3 col-sm-5 col-xs-12">
               <mat-form-field>
                <mat-select [(value)]="selected">                                        
                    <mat-option value="option1">Last month</mat-option>
                    <mat-option value="option2">Last week</mat-option>
                    <mat-option value="option3">Last year</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div> 
        <div class="graphTable-box">        
          <table class="table table-striped">
              <thead>
                
              </thead>
              <tbody>
                <tr>
                  <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>$35000</td>
                  <td>Draft</td>
  
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>$35000</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>$35000</td>
                  <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>$35000</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>$35000</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>$35000</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                    <td>MXT002587</td>
                    <td>McDonalds</td>
                    <td>$35000</td>
                    <td>Draft</td>
                </tr>
                <tr>
                    <td>5.1.2017</td>
                  <td>MXT002587</td>
                  <td>McDonalds</td>
                  <td>$35000</td>
                  <td>Draft</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <div class="chart-wrap">
              <div class="chart-title-stats">
                  <h3>STATISTICS</h3>
              </div>
              <div class="chart-list">
                  <ul>
                      <li>
                          <span>31</span>
                          Invoices Made
                      </li>
                      <li>
                          <span>14</span>
                          Invoices Pending Approval
                      </li>
                      <li>
                          <span>12</span>
                          Invoices Not Processed
                      </li>
                      <li>
                          <span>5</span>
                          Invoices Pending Approval
                      </li>
                      <li>
                          <span>120</span>
                          Invoices Not Processed
                      </li>
                  </ul>
              </div>
          </div>   
      </div>
  
    </div>
   
  
  </div>
  
