<div class="crm-wrap" id="crm">
    <!-- <div class="col-md-12">
        <h3>CRM</h3>
    </div> -->
    <div class="card-header">
          <h5>CRM</h5>      
    </div>
    <div class="row">
        
        <div class="col-sm-4">
            <h2>PROGRESS</h2>
            <div class="progress-wrap">
                <div class="progress-custom">
                    <h4>KFC</h4>
                    <div class="progress-view">
                        <span class="progress-count">46/100</span>
                        <div class="progress-bar">
                            <div class="progress-bg" style="width:50%"></div>
                            <div class="progress-square">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-custom">
                    <h4>McDonalds</h4>
                    <div class="progress-view">
                        <span class="progress-count">75/100</span>
                        <div class="progress-bar">
                            <div class="progress-bg" style="width:75%"></div>
                            <div class="progress-square">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-custom">
                    <h4>Burger King</h4>
                    <div class="progress-view">
                        <span class="progress-count">100/100</span>
                        <div class="progress-bar">
                            <div class="progress-bg" style="width:100%"></div>
                            <div class="progress-square">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-custom">
                    <h4>Rice Bowel</h4>
                    <div class="progress-view">
                        <span class="progress-count">18/100</span>
                        <div class="progress-bar">
                            <div class="progress-bg" style="width:25%"></div>
                            <div class="progress-square">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-custom">
                    <h4>Ajisen Ramen</h4>
                    <div class="progress-view">
                        <span class="progress-count">65/100</span>
                        <div class="progress-bar">
                            <div class="progress-bg" style="width:75%"></div>
                            <div class="progress-square">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
        </div>
        <div class="col-sm-4">
            <h2>NOTES</h2>
            <div class="notes-list ng-isolate-scope" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <div class="notes">
                        <h4>KFC</h4>
                        <div class="notes-desc">
                            <div class="notes-title">
                                <h5>Meeting</h5>
                                <span>5.1.17</span>
                            </div>
                            <p>
                                Esmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla
                            </p>
                        </div>
                    </div>
                    <div class="notes">
                        <h4>McDonalds</h4>
                        <div class="notes-desc">
                            <div class="notes-title">
                                <h5>Appointment</h5>
                                <span>6.4.17</span>
                            </div>
                            <p>
                                Kinim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                    <div class="notes">
                        <h4>Burger King</h4>
                        <div class="notes-desc">
                            <div class="notes-title">
                                <h5>Registration</h5>
                                <span>10.8.17</span>
                            </div>
                            <p>
                                Tisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>RECENT DEALS</h2>
            <div class="recent-deals" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <ul class="list-expand">
                    <li class="active">
                        <span>May 4, 2017</span>
                    </li>
                    <li>
                        <span>May 4, 2017</span>
                    </li>
                    <li>
                        <span>May 4, 2017</span>
                    </li>
                    <li>
                        <span>May 4, 2017</span>
                    </li>
                </ul>
                <div class="list-deals">
                    <div class="deal-item">
                        <h4>Total Sales</h4>
                        <h3>$ 54.650</h3>
                    </div>
                    <div class="deal-item">
                        <h4>Customer Efficiency</h4>
                        <h3>58%</h3>
                    </div>
                    <div class="deal-item">
                        <h4>Unordered Customer</h4>
                        <h3>20/67</h3>
                        <div class="deal-subitem">
                            <h4>Not Ordered</h4>
                            <h3>20</h3>
                        </div>
                        <div class="deal-subitem">
                            <h4>Total Customer</h4>
                            <h3>67</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
