 <button id="openBtn"  (cdkDragStarted)="handleDragStart($event)" (click)="handleClick($event)" *ngIf="isShowMiniIcon" cdkDrag [ngClass]="isHiddenMiniIcon ? 'd-block' : 'd-none'" class="chat-main-box active" icon-chat>
</button>
<button style="display: none;" id="modalOpen" (click)="modalRoot.show();isShowMiniIcon=true;modalRoot.revertMaximize();isShowMiniIcon=true;onOpenModal()"></button>

<app-modal #modalRoot [maximizable]="false" [inViewport]="true"
    (closeModal)="modalRoot.hide();isShowMiniIcon=true;onCencelModal()" [ngClass]="{'small-chat': isCusClsAdd}">
    <ng-container class="app-modal-header d-flex flex-wrap justify-content-end">
    </ng-container>
    <ng-container class="app-modal-body">
        <div app-chats class="h-100" (resized)="onResize($event)"
            (minimizeClick)="modalRoot.hide();isShowMiniIcon=true;onMinimizeModal()"
            (closeClick)="modalRoot.hide();isShowMiniIcon=true;onCencelModal()"></div>
    </ng-container>

</app-modal> 